@model IEnumerable<MVC_PROJECT_1278941.Models.Applicant>
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
<table class="table table-bordered">
    <thead class="table-secondary">
        <tr class="text-center">
            <th colspan="2"></th>

            <th>Applicant Name</th>
            <th>Phone</th>
            <th>Birth Date</th>
            <th>Pay Rate</th>
            <th>Department Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var w in Model)
        {
            <tr style="vertical-align:middle;" class="text-center">
                <td style="width:40px;text-align:center">
                    <button class="btn btn-sm show"><i class="bi bi-chevron-right"></i></button>
                    <button class="btn btn-sm hide" style="display:none"><i class="bi bi-chevron-up"></i></button>
                </td>
                <td><img src="~/Pictures/@w.Picture" class="img-thumbnail rounded-circle" style="height:50px" /></td>
                <td>@w.ApplicantName</td>
                <td>@w.Phone</td>
                <td>@w.BirthDate</td>
                <td>@w.PayRate</td>
                <td>@w.Department.DepartmentName</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" href="@Url.Action("Edit", new {id=w.ApplicantId})"><i class="bi bi-pencil"></i></a>
                    <button type="button" class="btn btn-outline-danger btn-sm del" data-pk="@w.ApplicantId"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
            <tr style="display:none">

                <td></td>
                <td colspan="6">
                    <h4>Applicant Log</h4>
                    <table class="table table-bordered table-striped">
                        <thead class="table-light">
                            <tr>
                                <th>Institute</th>
                                <th>Passing Year</th>
                                <th>Degree</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var wl in w.Qualifications)
                            {
                                <tr>
                                    <td>@wl.Institute</td>
                                    <td>@wl.PassingYear</td>
                                    <td>@wl.Degree</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="d-flex justify-content-end">

    @Html.PagedListPager((IPagedList)Model, pg => Url.Action("ApplicantTable", "Applicants", new { pg = pg }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
    {
        UlElementClasses = new string[] { "pagination", "pagination-sm" },
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always
    },
    new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "table-div" ,LoadingElementId="spinner"}))
</div>



