@model MVC_PROJECT_1278941.ViewModel.InputModel.ApplicantEditModel

@using (Ajax.BeginForm("Edit", "Applicants", new { }, new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "form-div", OnSuccess = "onSuccess", OnFailure = "onFailre", LoadingElementId = "spinner" }, new { id = "frm", enctype = "multipart/form-data" }))
{
   
        <div class="col-8">
            <h3>Edit Applicant Details</h3>
            @Html.HiddenFor(x => x.ApplicantId)

            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.ApplicantName, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.ApplicantName, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(x => x.ApplicantName, "", new { @class = "text-danger", style = "font-size:small" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.Phone, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger", style = "font-size:small" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.BirthDate, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.BirthDate, new { @class = "form-control form-control-sm", type = "date", @Value = Model.BirthDate.ToString("yyyy-MM-dd") })
                    @Html.ValidationMessageFor(x => x.BirthDate, "", new { @class = "text-danger", style = "font-size:small" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.PayRate, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.PayRate, new { @class = "form-control form-control-sm"})
                    @Html.ValidationMessageFor(x => x.PayRate, "", new { @class = "text-danger", style = "font-size:small" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.Picture, new { @class = "col-form-label col-form-label-sm col-2 text-end py-2" })
                <div class="col-4 py-2">
                    @Html.TextBoxFor(x => x.Picture, new { @class = "form-control form-control-sm", type = "file" })
                    @Html.ValidationMessageFor(x => x.Picture, "", new { @class = "text-danger", style = "font-size:small" })
                </div>
            </div>

            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.DepartmentId, new { @class = "col-form-label col-form-label-sm col-2 text-end py-2" })
                <div class="col-10">
                    @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.Departments, "DepartmentId", "DepartmentName"), new { @class = "form-select form-select-sm" })
                    @Html.ValidationMessageFor(x => x.DepartmentId, "", new { @class = "text-danger", style = "font-size:small" })
                </div>
            </div>

            <div>
                <figure class="figure">
                    <img src="~/Pictures/@ViewBag.CurrentPic" class="img-thumbnail" style="width: 175px; margin: 45px;" />
                    <figcaption class="figure-caption text-center">Applicant Photo</figcaption>
                </figure>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <h4>Qualification Details</h4>
                        <button class="btn btn-sm" type="submit" name="act" value="add" formnovalidate>+</button>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Institute</th>
                                <th>Passing Year</th>
                                <th>Degree</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Qualifications.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(x => Model.Qualifications[i].Institute, new { @class = "form-control form-control-sm" })
                                        @Html.ValidationMessageFor(x => Model.Qualifications[i].Institute, "", new { @class = "text-danger ", style = "font-size:small" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(x => Model.Qualifications[i].PassingYear, new { @class = "form-control form-control-sm" })
                                        @Html.ValidationMessageFor(x => Model.Qualifications[i].PassingYear, "", new { @class = "text-danger ", style = "font-size:small" })
                                    </td>
                                    <td>
                                        @Html.EnumDropDownListFor(x => Model.Qualifications[i].Degree, new { @class = "form-control form-control-sm" })
                                        @Html.ValidationMessageFor(x => Model.Qualifications[i].Degree, "", new { @class = "text-danger ", style = "font-size:small" })
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-outline-danger btn-sm" name="act" value="remove_@i" formnovalidate><i class="bi bi-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-12">
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-success" name="act" value="update">Save to database</button>
                    </div>
                </div>
            </div>

        </div>
    
}

